* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(211, 210, 210);
    color: black;
    line-height: 1.5;
}
header{
    background:gray;
    color: white;
    padding: 15px 20px;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav h1{
    font-size: 22px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: 3s;
}
nav ul li a:hover{
    color: yellow;
}
.hero{
    padding: 50px 20px;
    text-align: center;
    background: rgb(177, 179, 179);
}
.hero h2{
    font-size: 36px;
    margin-bottom: 20px;
}
.section{
    padding: 40px 20px;
    max-width: 1110px;
    margin: 0 auto;
}
section h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
}
.about-text{
    text-align: center;
}
.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
.skill-card{
    background: rgb(234, 231, 224);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid rgb(8, 8, 9);
    text-align: center;
}
.skill-card:hover{
    transform: scale(1);
    box-shadow:0px 8px 20px rgba(0, 0, 0, 0.2);
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(1);
    gap:20px;
}
.project-card{
    background: rgb(227, 222, 200);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid rgb(8, 8, 9);
    text-align: center;
}
.project-card:hover{
    transform: scale(1);
    box-shadow:0px 8px 20px rgba(0, 0, 0, 0.2);
}
#skills{
    background-color: gray;
}
#projects{
    background-color: rgb(160, 163, 163);
}
#contacts{
    background-color: rgb(150, 146, 146);
}
form input{
    width: 100%;
    padding: 12px;
    background-color: rgb(216, 232, 232);
    color: black;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 6px;
}
footer{
    background: black;
    color: white;
}
button {
    width: 100%;
    padding: 12px;
    border-radius: 16px;
    border: 2px solid black;
    background: rgb(62, 84, 227);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: rgb(155, 188, 185);
}